body {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background-image: url("../images/symphony.png");
	font-size: 24px;
	color: #777777;
}

.header {
	background: white;
}

.name {
	background-color: #4aaaa5; 
	color: white; 
	font-family: 'Georgia', Times, Times New Roman, serif;
	float: left;
	font-size: 36px;
	font-weight: bolder;
	margin-left: 150px;
	padding: 24px 36px;
}

.navlist {
	background: white;
	display: inline-flex;
	float: right;
	margin-right: 150px;
	padding: 24px 0px;
}

.navabout {
	border-right: 1px solid #cccccc;
	padding-right: 10px;
}

.navportfolio {
	border-right: 1px solid #cccccc;
	padding-right: 10px;
	padding-left: 10px;
}

.navcontact {
	padding-left: 10px;
}

.navlink {
	color: #777777;
	text-decoration: none;
}

.navborder {
	clear: both;
	background-color: #cccccc;
	height: 2px;
}

.mainbody{
	clear: both;
	padding-bottom: 130px;
	margin-top: 36px;
	overflow: auto;
}

.leftpanel {
	border: 1px solid #cccccc; 
	background: white;
	float: left;
	line-height: 150%;
	margin-left: 150px;
	padding: 36px;
	width: 800px;
}

.leftpanelheader {
	color: #4aaaa5;
	font-size: 36px;
	font-weight: bolder;
	font-family: 'Georgia', Times, Times New Roman, serif;

}

.leftpanelsep{
	background: #cccccc;
	height: 2px;
	margin: 36px 0px;
}

.profileimage {
	float: left;
	margin-right: 36px;
	width: 250px;
}

.portfolioimage {
	height: 230px;
	width: 340px;
}

.portfoliotag {
	background: #4aaaa5;
	color: white;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 24px;
	left: 0;
	top: 140px;
	padding: 20px 0px;
	position: absolute;
	text-align: center;
	width: 340px;
}

.portfoliodivleft {
	float: left;
	margin-bottom: 24px;
	position: relative;
}

.portfoliodivright {
	float: right;
	margin-bottom: 24px;
	position: relative;
}

.portfoliolink {
	color: white;
	text-decoration: none;
}

.nameinput, .emailinput {
	color: #cccccc;
	font-size: 18px;
	height: 24px;
	width: 725px;
	padding: 20px 10px;
	margin-bottom: 10px;
}

.messageinput {
	border-color: #cccccc;
	color: #cccccc;
	font-size: 18px;
	padding: 20px 10px;
	width: 725px;
}

.submitbtn {
	border-style: none;
	background: #4aaaa5;
	color: white;
	font-size: 24px;
	padding: 20px 36px;
	text-align: center;
}

.rightpanel {
	border: 1px solid #cccccc; 
	background: white;
	float: right;
	text-align: center;
	margin-right: 150px;
	padding: 36px;
	width: 310px;
}

.rightpanelheader {
	color: #4aaaa5;
	font-size: 24px;
	font-weight: bolder;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

.rightpanelsep{
	background: #cccccc;
	height: 2px;
	margin: 24px 0px;
}

.socialicon {
	height: 70px;
	width: 70px;
}

.footer {
	clear: both;
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: #777777; 
	height: 90px;
	width: 1440px;
	text-align: center;
}

.footersep {
	background-color: #4aaaa5;
	height: 7px;
	width: 1440px;
}

.copyright {
	color: #cccccc;
	font-size: 12px;
	padding-top: 36px;
}

.wrapper {
	width: 1440px;
	background-image: url("../images/symphony.png");
}







